html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;

}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9BDFEA;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
